@import "fonts";

* {
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  margin: 0;
  @include montserratRegular;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}